div.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
}

.let-me-in {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  transform: translateY(-20vh);
}

.let-me-in .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.let-me-in .form-control:focus {
  z-index: 2;
}
.let-me-in input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.let-me-in input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
