<nav>
    <ul class="pagination">
        <li [ngClass]="{'disabled': currentPage === 1}" class="page-item">
            <a *ngIf="currentPage > 1" (click)="onPageChange(currentPage - 1)" class="page-link">Previous</a>
            <a *ngIf="currentPage === 1" class="page-link">Previous</a>
        </li>
        <li *ngFor="let page of pages" class="page-item" [ngClass]="{ 'page-item active': currentPage == page }">
            <a class="page-link" (click)="onPageChange(page)">{{page}}</a>
        </li>
        <li [ngClass]="{'disabled': currentPage === pages.length}" class="page-item">
            <a *ngIf="currentPage < pages.length" (click)="onPageChange(currentPage + 1)" class="page-link">Next</a>
            <a *ngIf="currentPage >= pages.length" class="page-link">Next</a>
        </li>
    </ul>
</nav>