<div class="contact-wrap container">
    <div class="contact-data d-flex">
        <div class="side text-center align-items-center">
            <figure>
                <img src="/assets/me.png" alt="">
            </figure>
        </div>
        <div class="main flex-fill">
            <ul class="list-group">
                <li class="list-group-item"><strong>Name:</strong> Andreas Loukakis</li>
                <li class="list-group-item"><strong>Email:</strong> alou@alou.gr</li>
                <li class="list-group-item"><strong>Address:</strong> Kakouri 10, 19013</li>
                <li class="list-group-item"><strong>Phone:</strong> 6979569057</li>
                <li class="list-group-item"><strong>Geek:</strong> npm i AndreasLoukakis</li>
            </ul>
        </div>

    </div>
</div>